.dark-mode {
  background-color: #00040c;
  font-family: "Moon Light";
  color: #868c92;
}
.home-social {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 4rem;
  right: 1rem;
  z-index: 500;
}

.home-social a {
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-social li {
  position: relative;
  padding: 0.6rem 0;
}

.home-social li a {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.home-social i,
.home-social span {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-social i {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  right: 0;
}

.home-social span {
  background-color: #181818;
  font-size: 0.8rem;
  line-height: 30px;
  right: 50px;
  padding: 0 15px;
  margin: 3px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.home-social span::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #181818;
  position: absolute;
  top: 50%;
  right: -6px;
  margin-top: -6px;
}

.home-social li:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-facebook:before {
  content: "\f09a";
}

.fa-facebook-f:before {
  content: "\f39e";
}

.groot {
  min-height: 100vh;
  background-image: url("hp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: "Moon Light";
  src: url("Moon Light.otf") format("opentype");
}
@font-face {
  font-family: "Moon Bold";
  src: url("Moon Bold.otf") format("opentype");
}

.text {
  font-size: 0.9rem;
}

.intext {
  /* color: #f7c08a; */
  background-color: #181818;
}
.gra {
  background-image: -webkit-linear-gradient(#e3e3e3, #5d6874);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Moon Bold";
}
.grah {
  color: #868c92;
  font-family: "Moon Light";
}
.im {
  border-radius: 50%;
}
.card {
  border-radius: 100px;
  padding: 30px;
}
.groot-tagline {
  font-size: 2.5rem;
}
.navbar-custom {
  background-color: #00040c;
}
.btn-custom {
  color: #868c92;
  background-color: #00040c;
  border-radius: 10px;
}
.nav-text {
  color: #868c92;
}
.active > .nav-link {
  color: #fdf2e7;
}
.btn-custom:hover {
  color: #222;
  background-color: #868c92;
  transform: scale(1.2, 1.2);
}
.nav-text:hover {
  color: #111111;
  background-color: #868c92;
  border-radius: 10px;
}

.intro-icon {
  font-size: 15rem;
  color: blueviolet;
  margin: 0px auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#footer-links-container ul {
  list-style-type: none;
  padding-left: 0px !important;
}

#footer-links-container ul > :first-child {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.card-custom {
  background-color: #181818;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 300px;
  text-align: center;
}
.card-advisories {
  background-color: #181818;
  border-radius: 2px;
  display: block;
  margin: 1rem;
  position: relative;
  text-align: center;
}
.card-advisories:hover {
  box-shadow: 10px 10px 10px rgba(0, 255, 255, 0.12),
    10px 10px 10px rgba(0, 255, 255, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.phone-card,
.link-card {
  color: #868c92;
}
.link-card:hover {
  color: #00ffff;
  text-decoration: none;
}
.phone-card:hover {
  color: #ff0000;
  text-decoration: none;
}
.card-custom:hover {
  box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.12),
    10px 10px 10px rgba(255, 0, 0, 0.12);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.light-mode {
  background-color: #ffffff;
  font-family: "Moon Light";
  color: #00040c;
}
.card-update {
  background-color: #181818;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.4;
  font-family: "Moon Bold";
  font-size: 7px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .text {
    font-size: 1.5rem;
  }
  .groot-tagline {
    font-size: 5rem;
  }
  .ch {
    font-size: 2rem;
  }
  #footer-links-container ul {
    padding-left: 30px !important;
  }
  .home-social {
    right: 3rem;
  }
  .card-custom {
    width: 350px;
    margin: 0.5rem;
  }
  .card-update {
    font-size: 10px;
  }
}

/* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} 

h1 {
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: normal;
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.card-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.card-container:hover .front,
.card-container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.card-container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
} */
