.dark-mode {
  background-color: #00040c;
  font-family: "Moon Light";
  color: #868c92;
}
.home-social {
  list-style: none;
  font-family: Montserrat, sans-serif;
  margin: 0;
  position: absolute;
  top: 6rem;
  right: 6.2rem;
  z-index: 500;
}

.home-social a {
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-social li {
  position: relative;
  padding: 0.6rem 0;
}

.home-social li a {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.home-social i,
.home-social span {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-social i {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  right: 0;
}

.home-social span {
  background-color: #151515;
  font-size: 0.8rem;
  line-height: 30px;
  color: #f26522;
  right: 50px;
  padding: 0 15px;
  margin: 3px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.home-social span::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #151515;
  position: absolute;
  top: 50%;
  right: -6px;
  margin-top: -6px;
}

.home-social li:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-facebook:before {
  content: "\f09a";
}

.fa-facebook-f:before {
  content: "\f39e";
}
.light-mode {
  background-color: #ffffff;
  font-family: "Moon Light";
  color: #00040c;
}

.groot {
  min-height: 100vh;
  background-image: url("hp.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@font-face {
  font-family: "Moon Light";
  src: url("Moon Light.otf") format("opentype");
}
@font-face {
  font-family: "Moon Bold";
  src: url("Moon Bold.otf") format("opentype");
}

.text {
  font-size: 0.9rem;
}

.intext {
  /* color: #f7c08a; */
  background-color: #181818;
}
.gra {
  background-image: -webkit-linear-gradient(#e3e3e3, #5d6874);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Moon Bold";
}
.grah {
  color: #868c92;
  font-family: "Moon Light";
}
.im {
  border-radius: 50%;
}
.card {
  border-radius: 100px;
  padding: 30px;
}
.groot-tagline {
  font-size: 2.5rem;
}
.navbar-custom {
  background-color: #00040c;
}
.btn-custom {
  color: #868c92;
  background-color: #00040c;
  border-radius: 10px;
}
.nav-text {
  color: #868c92;
}
.active > .nav-link {
  color: #fdf2e7;
}
.btn-custom:hover {
  color: #222;
  background-color: #868c92;
  transform: scale(1.2, 1.2);
}
.nav-text:hover {
  color: #111111;
  background-color: #868c92;
  border-radius: 10px;
}

.intro-icon {
  font-size: 15rem;
  color: blueviolet;
  margin: 0px auto;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#footer-links-container ul {
  list-style-type: none;
  padding-left: 0px !important;
}

#footer-links-container ul > :first-child {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .text {
    font-size: 1.5rem;
  }
  .groot-tagline {
    font-size: 5rem;
  }
  .ch {
    font-size: 2rem;
  }
  #footer-links-container ul {
    padding-left: 30px !important;
  }
}

.card {
  background-color: #181818;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 400px;
  height: 150px;
}
.phone-card {
  color: #868c92;
}
.phone-card:hover {
  color: #ff0000;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 10px 10px rgba(255, 0, 0, 0.12),
    0 10px 10px rgba(255, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
